@import url("https://fonts.googleapis.com/css?family=Titillium+Web&display=swap");

body {
  font-family: 'Titillium Web', sans-serif;
  overflow-x: hidden;
  background-color: #f8f9fa;
  background-image: url("../assets/images/bodyimage4.jpg");
  --webkit-background-size: cover;
  --moz-background-size: cover;
  --o-background-size: cover;
  background-size: cover;
  padding: 0;
  margin: 0;
}
#root {
  width: 100vw;
  height: 100vh;
  color: yellow;
  margin: 0;
}
h1 {
  color: yellow;
  font-size: 50px;
  text-align: center;
  margin: 0;
}
.image {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgba(225, 225, 225, 0.5);
}
img {
  width: 100%;
}
h1 {
  padding-top: 25px;
  font-family: 'Titillium Web', sans-serif;
}
h2 {
  color: yellow;
  font-size: 25px;
  background: #0b3d91;
  margin: 0;
  padding: 10px;
  font-family: 'Titillium Web', sans-serif;
}
h3 {
  color: #061f4a;
  font-family: 'Titillium Web', sans-serif;
}
.mr-auto {
  display: flex;
  margin: 0 auto;
  margin-left: 20px;
}
.photo {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  margin: 20px auto;
  max-width: 900px;
}
.photo-list {
  background: #f8f9fa;
  height: auto;
  border-radius: 4px;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}

p {
  padding: 10px;
  color: black;
}

p:nth-child(2) {
  padding: 10px;
  font-size: 18px;
  display: block; /* or inline-block */
  text-overflow: ellipsis;
  word-wrap: no-wrap;
  overflow: hidden;
  max-height: 10em;
  line-height: 1.2em;
}

.bottom {
  margin: 5%;
}

@media (max-width: 580px) {
  .photo-list {
    align-self: center;
    justify-self: center;
    font-size: 0.9rem;
    margin: 1rem;
    width: 300px;
  }
}
